* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --title: #F8F8F8;
  --subtitle: #D7D7D7;
  --info: #BBBBBB;

  --highlight: #FF57B2;
  --light-gray: #F8F8F8;
  --medium-gray: #D7D7D7;
  --dark-gray: #BBBBBB;
  --background: #1A1D23;
}

body {
  background: var(--background);
  color: var(--medium-gray);
}

body, input, textarea, select, button {
  font: 400 1rem Inter, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
